In [20]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as ptl
from bokeh.plotting import figure, output_file, show
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [21]:
arregloMultidimensional = [[1,"a"],[2,"b"],[3,"c"],[4,"d"],[5,"e"]]
arregloMultidimensional

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd'], [5, 'e']]

In [26]:
okdude = DataFrame(arregloMultidimensional)

In [27]:
okdude.iloc[:,-1]

0    a
1    b
2    c
3    d
4    e
Name: 1, dtype: object

In [28]:
okdude.value

   0  1
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e